---
import Layout from "../layouts/Layout.astro";
import Slide from "../components/Slide.astro";
---

<Layout title="frontend">
  <Slide />
  <section id="documentacion">documentacion</section>
  <section id="framework">framework</section>
  <section id="librerias">librerias</section>
</Layout>

<style>
  section {
    width: 100%;
    height: 100vh;
  }
</style>
