---
const contenidos = [
  { name: "inicio", url: "/" },
  {
    name: "frontend",
    url: "/frontend",
    parts: [
      { name: "tecnologia", url: "/frontend#tecnologia" },
      { name: "framework", url: "/frontend#framework" },
      { name: "librerias", url: "/frontend#librerias" },
    ],
  },
  {
    name: "backend",
    url: "/backend",
    parts: [
      { name: "tecnologia", url: "/backend#tecnologia" },
      { name: "framework", url: "/backend#framework" },
      { name: "librerias", url: "/backend#librerias" },
    ],
  },
  {
    name: "data base",
    url: "/database",
    parts: [
      { name: "tecnologia", url: "/database#tecnologia" },
      { name: "framework", url: "/database#framework" },
      { name: "librerias", url: "/database#librerias" },
    ],
  },
  {
    name: " más",
    url: "/mas",
    parts: [
      { name: "blog", url: "/blog" },
      { name: "conoce", url: "/conoce" },
      { name: "herramientas", url: "/herramientas" },
      { name: "informaciones", url: "/informaciones" },
    ],
  },
];
//color 1 #055cb4
//color 2 #0070e0
//color 3 #bed5eb
---

<nav>
  <ul class="lista">
    {
      contenidos.map(({ name, parts, url }) => (
        <li class="item">
          <a href={`${url}`}>{name}</a>
          <ul class="sub-lista">
            {parts &&
              parts.map(({ name, url }) => (
                <li class="sub-item">
                  {" "}
                  <a href={url}>{name}</a>
                </li>
              ))}
          </ul>
        </li>
      ))
    }
  </ul>
</nav>

<style>
  .lista {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .item,
  .sub-item {
    position: relative;
    font-size: 1.1rem;
    padding: 0.6rem 1.3rem;
  }

  .sub-lista {
    position: absolute;
    left: 0;
    top: 42px;
    display: none;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    background-color: #0070e0;
    border-top: 2px solid #bed5eb;
  }
  .sub-lista > .sub-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .item:hover > .sub-lista {
    display: flex;
  }
  .item:hover,
  .sub-lista > .sub-item:hover {
    background-color: #055cb4;
  }
</style>
