<div class="toggle-theme">
  <button class="button">
    <div class="circle"></div>
  </button>
</div>
<style>
  .button {
    width: 2.6rem;
    height: 1.5rem;
    border-radius: 1rem;
    background-color: #fff;
  }
  .circle {
    width: 1rem;
    height: 1rem;
    margin-inline: 4px;
    border-radius: 50%;
    background-color: #1c1b22d2;
    transition: transform 0.4s ease-in-out;
  }
  .button.activo {
    background-color: #1c1b22;
  }
  .circle.activo {
    background-color: #ddd;
    transform: translate(100%);
  }
</style>

<script>
  const $circle = document.querySelector(".circle");
  const $button = document.querySelector(".button");
  const svg = document.querySelector("svg");
  const body = document.querySelector("body");
  //style of the dark mode
  const styleDarkMode = {
    color: "#fff",
    background: "#1c1b22",
    lightColor: "#1c1b22",
    lightBackground: "#fff",
  };

  function deactivateDarkMode() {
    $circle.classList.remove("activo"), $button.classList.remove("activo");
    body.style.color = styleDarkMode.lightColor;
    body.style.backgroundColor = styleDarkMode.lightBackground;

    (svg.style.stroke = ""), (svg.style.fill = "");
    localStorage.setItem("darkMode", "light");
  }
  function activeDarkMode() {
    $circle.classList.add("activo"), $button.classList.add("activo");
    body.style.color = styleDarkMode.color;
    body.style.backgroundColor = styleDarkMode.background;

    if (svg.style.fill) {
      svg.style.fill = "#eee";
    } else {
      svg.style.stroke = "#eee";
    }
    localStorage.setItem("darkMode", "dark");
  }
  //save dark mode
  document.addEventListener("DOMContentLoaded", () => {
    const save = localStorage.getItem("darkMode");
    if (save === "dark") activeDarkMode();
  });
  
  //button of dark mode
  $button.addEventListener("click", () => {
    $circle.classList.toggle("activo");
    $button.classList.toggle("activo");

    $button.classList.contains("activo")
      ? activeDarkMode()
      : deactivateDarkMode();
  });
</script>
